.multi-add
  margin-top: -26px

.input-group-sm
  .form-control
  .input-group-addon
    height: 22px
    padding-top: 0
    padding-bottom: 0

.init-highlight
  background-color: rgba(230, 230, 230, 0.8)
