.box
  background-color: rgba(200, 200, 200, .85)
  border: 3px solid rgba(100, 100, 100, .5)
  margin: 3px -12px
  padding: 5px 10px

hr
  border-top: 2px solid #aaa
  margin-bottom: 5px
  margin-top: 5px
  .thin
    border-top: 1px solid #aaa
    margin-bottom: 1px
    margin-top: 1px

.modal-open
  overflow-x: scroll !important
  overflow-y: hidden

.modal-dialog
  width: 750px

.no-left-pad
  padding-left: 0

.no-left-radius
.no-left-radius > .Select-control
  border-radius: 4px
  border-top-left-radius: 0
  border-bottom-left-radius: 0

.no-radius
  border-radius: 0

.no-right-pad
  padding-right: 0

.no-right-radius
.no-right-radius > .Select-control
  border-radius: 4px
  border-top-right-radius: 0
  border-bottom-right-radius: 0

.popover
  max-width: 500px
  width: 275px

.root
  background-image: url("../app/lib/images/RedDragon.png")
  background-repeat: no-repeat
  background-size: 100%
  margin: 0 15px
  min-height: 950px
  overflow-x: hidden

.select-height
  height: 36px

@media (max-width: 768px)
  .modal-dialog
    width: 90%
    margin: auto

@media (min-width: 768px) and (max-width: 992px)
  .sm-up
    margin-top: -94px
