.mid-addon {
  border-radius: 0;
  border-right: 0;
  border-left:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 34px;
}

.health-box {
  height: 88px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.pm-button {
  z-index: 0 !important;
  height: 68px;
}
