/*csslint fallback-colors:false */
.box {
  background-color: rgba(200,200,200,.85);
  border: 3px solid rgba(100,100,100,.5);
  padding: 5px 10px;
  margin: 3px -12px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 2px solid #aaa;
}

.thin {
  margin-top: 1px;
  margin-bottom: 1px;
  border-top: 1px solid #aaa;
}

.root {
  background-image: url("../app/lib/images/RedDragon.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 950px;
  margin: 0 15px;
  overflow-x: hidden;
}

.select-height {
  height: 36px;
}

.health-box {
  height: 88px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.modal-open {
  overflow-x: scroll !important;
  overflow-y: hidden;
}

.modal-dialog {
  width: 750px;
}

@media (max-width: 768px) {
  .modal-dialog {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .sm-up {
    margin-top: -94px;
  }
}
