@require './general.styl'
@require './health.css'
@require './equipment.css'
@require '~react-toggle/style.css'
@require './io.css'
@require './money.css'
@require './notes.css'
@require './spells.css'
@require '~react-select/dist/react-select.css'
@require './stat.css'
@require './talents.css'
@require './weaponGroups.css'
@require './weapons.css'
@require './label.styl'
