.edit-label {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 34px;
  width: 100%;
}

.react-toggle {
  padding-top: 5px;
}

.react-toggle-thumb {
  top: 6px;
}

.react-toggle-track-check,
.react-toggle-track-x {
  top: 5px;
}

.react-toggle--checked .react-toggle-track {
  background-color: #428bca;
}

.react-toggle.react-toggle--checked:hover .react-toggle-track {
  background-color: #0f5897;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #428bca;
}
