.input-group-xs
  .input-group
    .input-group-addon
      font-size: 12px
      padding: 1px 5px
      input[type=checkbox]
        margin-right: 5px
      label
        font-weight: 400
        margin-bottom: 0

.stat-row
  align-items: center
  display: flex
  flex-direction: row
  font-size: 13px
  justify-content: center
  .stat-circle
    display: inline-table
    text-align: center
    background: #fff
    border-radius: 20px
    width: 40px
    height: 40px
    margin: 2px
    padding: 1px

.overview
  &:hover
    background-color: rgba(230, 230, 230, 0.9)
