.heading-money
  width: 31%
  position: relative
  white-space: nowrap
  vertical-align: middle
  display: table-cell
  text-align: center

.heading-money-button
  width: 7%

.pm-button-money
  z-index: 0 !important
