.arrow
  font-size: 41px
  height: 42px

.lower
  padding-top: 50px
  margin-bottom: 50px

@-moz-document url-prefix()
  .lower
     margin-bottom: 0
     margin-top: 50px

.blank
  height: 121px

.center img
  width: 42px
  margin-bottom: 2px

.spell-name
  width: 100%
  white-space: normal
  height: 54px

.spell-check
  padding-bottom: 5px

custom-rotate(n)
  -webkit-transform: rotate(n)
  -moz-transform: rotate(n)
  -ms-transform: rotate(n)
  -o-transform: rotate(n)
  transform: rotate(n)

.fa-rotate-45
  custom-rotate(45deg)

.fa-rotate-315
  custom-rotate(315deg)
