body {
  background: rgb(204,204,204); 
  font-size: 12pt;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  width: 21cm;
  height: 29.7cm; 
}

.row__main {
  margin-top: 0.5cm;
}

.row__inner {
  margin-top: 0.1cm;
}

.bold {
  font-weight: 700;
}

.blank_lines {
  height: 1.6cm;
}

hr {
  margin: 5px 15px;
  border: 0;
  border-top: 1px solid #999;
}

.box {
  border-style: solid;
  border-width: 1px;
}

.box__title {
  text-align: center;
  background: black;
  color: white;
}

.box__value {
  text-align: center;
}

.box_side {
  border-style: solid;
  border-width: 1px;
}

.box_side__title {
  background: black;
  color: white;
  padding-left: 3mm;
  padding-right: 3mm;
  display: inline-block;
}

.box_side__value {
  padding-left: 3mm;
  padding-right: 3mm;
  display: inline-block;
}

.box_table .box_table__title:first-of-type {
  padding-right: 0;
  padding-left: 15px;
}

.box_table .box_table__title {
  padding-right: 0;
  padding-left: 0;
}

.box_table .box_table__title:last-of-type {
  padding-left: 0;
  padding-right: 15px;
}

.box_table__title_left .box__value {
  text-align: left;
  font-size: 10pt;
}

.box_stats .box__title {
  text-align: left;
  padding-left: 15px;
}

.box__focus {
  padding-left: 15px;
  padding-right: 15px;
}

.box_stats__title {
  padding-right: 0;
}

.box_stats__value {
  padding-left: 0;
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
